body {
  
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 31%, rgba(225,225,225,1) 66%, rgba(246,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(31%,rgba(241,241,241,1)), color-stop(66%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 31%,rgba(225,225,225,1) 66%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 31%,rgba(225,225,225,1) 66%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 31%,rgba(225,225,225,1) 66%,rgba(246,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 31%,rgba(225,225,225,1) 66%,rgba(246,246,246,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

}

.t_page {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #eeeeee;
  border-style: solid none solid none;
  border-width: 10px;
  border-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0px 2px 1px #888888;  
}

.t_panel {
  
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #eeeeee;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 1px #888888;  
}
