.t_toggleBorder {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.t_toggleBorder:hover, 
.t_toggleBorder:focus {
  background-color: #cccccc;
}

.t_jumbo {
  background-size: cover;
  background-image: url('../jpg/pokoj.jpg');         
  background-repeat: no-repeat;    
  background-position: bottom center;
  margin-bottom: 10px;
}

.t_border {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px;
  padding: 20px;  
}